.form-group {
  margin-bottom: 15px;
}

.form_header {
  margin-bottom: 30px;
  margin-top: 50px;
}

//-----Registration-----//
.registration-form,
button,
input {
  width: 100%; 
}

//------LOGIN------//

.login-form {
  max-width: 600px; 
  width: 100%;

  button {
    background-color: #24965f;
    width: 100%;
  }
}
